In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df=pd.read_csv('D:/Python/Github_ML/Machine-Learning/data/_preprocessed.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user-id            11385 non-null  int64
 1   user-age           11385 non-null  int64
 2   user-gender        11385 non-null  int64
 3   user-nationality   11385 non-null  int64
 4   user-knowledge     11385 non-null  int64
 5   user-loyalty       11385 non-null  int64
 6   user-loan          11385 non-null  int64
 7   user-income        11385 non-null  int64
 8   user-savings       11385 non-null  int64
 9   user-properties    11385 non-null  int64
 10  user-riskAversion  11385 non-null  int64
 11  user-marital       11385 non-null  object
 12  user-dependents    11385 non-null  int64
 13  user-pension       11385 non-null  int64
 14  product-type       11385 non-null  int64
 15  product-risk       11385 non-null  int64
 16  product-term       11385 non-null  int64
 17  product-yield      11385 non-null  int64
 18  transaction-id     11385 non-null  int64
 19  year               11385 non-null  int64
 20  month              11385 non-null  int64
 21  score              11385 non-null  float64
dtypes: float64(1), int64(20), object(1)
memory usage: 2.0+ MB

In [4]:
df.head(10)

,user-id,user-age,user-gender,user-nationality,user-knowledge,user-loyalty,user-loan,user-income,user-savings,user-properties,...,user-dependents,user-pension,product-type,product-risk,product-term,product-yield,transaction-id,year,month,score
0,500,41,0,0,0,1,0,10822,132392,0,...,0,483040,1,1,30,1,5000,2019,9,0.061877
1,500,41,0,0,0,1,0,10822,132392,0,...,0,483040,2,2,10,2,5001,2019,10,0.179746
2,500,41,0,0,0,1,0,10822,132392,0,...,0,483040,0,2,10,2,5002,2019,9,0.767918
3,500,41,0,0,0,1,0,10822,132392,0,...,0,483040,0,0,20,0,5003,2017,12,0.606241
4,501,25,1,0,0,0,0,5284,51806,0,...,5,113300,0,0,1,0,5004,2019,10,0.829035
5,501,25,1,0,0,0,0,5284,51806,0,...,5,113300,0,1,20,1,5005,2018,8,0.525207
6,501,25,1,0,0,0,0,5284,51806,0,...,5,113300,2,2,5,2,5006,2017,2,1.000000
7,501,25,1,0,0,0,0,5284,51806,0,...,5,113300,1,1,20,1,5007,2018,4,0.719480
8,501,25,1,0,0,0,0,5284,51806,0,...,5,113300,0,0,1,0,5008,2018,4,0.102456
9,503,26,1,0,0,0,0,5375,35494,0,...,6,203225,0,0,10,0,5014,2015,5,0.050316

In [5]:
df['user-marital'].head(30)

0            0
1            0
2            0
3            0
4            1
5            1
6            1
7            1
8            1
9            1
10           1
11           0
12           1
13    divorced
14    divorced
15           0
16           0
17           0
18           0
19           0
20           0
21           1
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
Name: user-marital, dtype: object